@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$blue: #45b9d3; //rgba(69, 185, 211, 100)
$darkgreen: #4d916e; //rgba(77, 145, 110, 100)
$lightgreen: #86af6e; //rgba(134, 175, 110, 100)
$pink: #e2b1b1; //rgba(226, 177, 177, 100)
$purple: #cba8ed; //rgba(203, 168, 237, 100)

body {
    background-color: $blue;
    color: white;
    overflow: hidden;
}

.dark {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: hsla(250, 35, 15, 0.9);
    z-index: 5000;
}

h1,
h2 {
    position: relative;
    text-align: center;
    font-family: 'Poiret One', 'Oleo Script', cursive;
    text-shadow: 1px 1px 1px hsla(100, 0, 30, 0.5);
    z-index: 1000;
    margin: 0;
}

h1 {
    margin-top: 4.5rem;
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
    font-family: 'Oleo Script', cursive;
}

.sun {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: khaki;
    border-radius: 100%;
    box-shadow: 0 0 20px khaki;
}

.flowers {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.flower {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_head {
        height: 7rem;
        width: 7rem;
        background: $purple;
        border-radius: 100%;
    }

    &_stem {
        width: 0.5rem;
        height: 20rem;
        max-height: 0;
        background: $lightgreen;

        &::after {
            content: '';
            margin-left: 0.5rem;
            margin-top: 1rem;
            width: 3em;
            height: 3em;
            display: block;
            background: $darkgreen;
            border-radius: 2em 0 2em 0em;
        }
    }
}

.yellow {
    width: 7.5rem;
    height: 7.5rem;
    background: khaki;
}

.pink {
    width: 6rem;
    height: 6rem;
    background: $pink;
}

.fadein {
    opacity: 0;
    animation: fadein 1s 2s ease-in forwards;
}

.slidein {
    transform: translateX(-5rem);
    animation: slidein 3s ease-out forwards;
}

.fadeout {
    opacity: 1;
    animation: fadeout 4s .25s ease forwards;
}

.delay-1 {
    animation-delay: 3s;
}

.grow-12 {
    animation: grow-12 2s 0.5s ease-in-out forwards;
}

.grow-15 {
    animation: grow-15 2s 1.5s ease-in-out forwards;
}

.grow-9 {
    animation: grow-9 2s 2.5s ease-in-out forwards;
}

.pulse {
    animation: pulse 1s 0.5s ease-in-out infinite alternate;
}

// animations 
@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

@keyframes grow-12 {
    100% {
        max-height: 14rem;
    }
}

@keyframes grow-15 {
    100% {
        max-height: 17rem;
    }
}

@keyframes grow-9 {
    100% {
        max-height: 11rem;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}

// media quiries  ( spelling may be wrong hahahahaha )
@media(max-width : 480px) {
    h1 {
        font-size: 2.77rem;
    }

    h2 {
        font-size: 1.77rem;
    }
}